# Dependencies
node_modules/

# Environment Files
.env
.env.local

# Build Folders
dist/
build/

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Temporary Files
tmp/
temp/

# Docker
*.tar